/monorepo
.dockerignore
.eslintignore
.eslintrc.js
.github
.gitlab-ci.yml
.prettierignore
.prettierrc.json
.releaserc
.releaserc.json
.idea


# Hidden folders

# Backup files
*~

# Logs
*.log
*.ts
bin

# Node.js
node_modules/

# Test coverage
coverage/

*.tgz

# Yarn - package manager
yarn.lock

# PNPM - package manager
shrinkwrap.yaml

# Project sources
img
tsconfig.json
commitlint.config.js
types.ts
