branches:
  - main

ci: true
dryRun: false
debug: true

plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/changelog"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
  - "@semantic-release/npm"
  -
    - "@semantic-release/exec"
    - command: "cp package.json dist/package.json"
  -
    - "@semantic-release/git"
    - assets:
        - package.json
        - package-lock.json
        - CHANGELOG.md
        - dist/package.json  # Указываем путь к копии
      message: "chore(release): ${nextRelease.version} [skip ci]"